@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: transparent;
}

@layer utilities {
  /* Scrollbar Elegante FOCUS */
  .scrollbar-focus::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .scrollbar-focus::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-focus::-webkit-scrollbar-thumb {
    background: #334155; /* slate-700 */
    border-radius: 99px;
  }

  .scrollbar-focus::-webkit-scrollbar-thumb:hover {
    background: #475569; /* slate-600 */
  }

  /* Suporte para Firefox */
  .scrollbar-focus {
    scrollbar-width: thin;
    scrollbar-color: #334155 transparent;
  }
}
